.container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    background: blue;
    width: 300px;
    height: 200px;
}

.shape {
    border: solid;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}